# Sanal ortam 
venv/

# Python derleme dosyaları
__pycache__/
*.pyc
*.pyo

# NEAT checkpoint dosyaları 
checkpoint-*

# Eğitilmiş model
best_model.pkl

# VS Code ayarları
.vscode/

# Windows sistem dosyası
Thumbs.db
desktop.ini